/*
 General typography settings for the whole page.
 */
@font-face {
    font-family: Oswald;
    src: url(../fonts/Oswald-Regular.ttf);
}

@font-face {
    font-family: PlayfairDisplay;
    src: url(../fonts/PlayfairDisplay-Bold.ttf);
}

@font-face {
    font-family: OldStandard;
    src: url(../fonts/OldStandard-Bold.ttf);
}

@font-face {
    font-family: EBGaramond;
    src: url(../fonts/EBGaramond-Regular.ttf);
}

body {
    font-size : 100%;
    font-family: $font-family-regular-text;

    @include MQ(M) {
        font-size: 100%;
    }
}
