h1, h2, h3, h4, h5, h6 {
    font-family: $font-family-title;
    color: $color-title;
}

$title-shadow-color : darken(desaturate($color-link, 50), 20);

h2 {
    font-size: $font-size-title;
    @include text-shadow(0px 2px 1px $title-shadow-color);
    text-transform: uppercase;
    font-weight: $font-weight-title;

    a {
        color : lighten($color-link, 0);
        &:visited, &:active, &:focus {
            color : lighten($color-link, 0);
        }
        &:hover {
            color: $color-title;
        }
    }

    @include MQ(L) {
        @include text-shadow(0px 3px 2px $title-shadow-color);
        font-size: $font-size-title-large;
    };
}

.page-header h2 {
    text-transform: none;
}


h3 {
    font-size: 115%;
    @include text-shadow(0px 1px 1px $title-shadow-color);

    a {
        color : lighten($color-link, 0);
        &:visited, &:active, &:focus {
            color : lighten($color-link, 0);
        }
        &:hover {
            color: $color-title;
        }
    }

    @include MQ(L) {
        @include text-shadow(0px 2px 2px $title-shadow-color);
        font-size: 140%;
    };
}
