.section-user567 {
    background-color: $color-link;
    color : white;
    border-top: solid black 2px;

    .user5,
    .user6,
    .user7 {
        h2, h3 {
            color : white;
        }
    }
}

