.section {
    @include MQ(L) {
        .component {
            width: 700px;
            display: inline-block;
        }

        .right {
            width: 220px;
            display: inline-block;
            vertical-align: top;
        }
    }

    & > * {
        padding: 0 $margin-section 0 $margin-section;
        width: $margin-section-width;

        @include MQ(L) {
            margin: 0 $margin-section-large 0 $margin-section-large;
            width: $margin-section-large-width;
        }
    }
}

.section-mainmenu {
    @media only screen and (min-resolution: 1.5dppx) and (max-width: $L) {
        zoom : 2.5;
    }
}

.pagination,
.user567 h2,
.right h3,
h2.item-title,
.page-header h2 {
    @media only screen and (min-resolution: 1.5dppx) and (max-width: $L) {
        zoom : 2.5;
    }
}

ul.tags {
    @media only screen and (min-resolution: 1.5dppx) and (max-width: $L) {
        zoom : 2;
    }
}

div.css_buttons1 {
    @media only screen and (min-resolution: 1.5dppx) and (max-width: $L) {
        zoom : 2.5;
    }
}

.categories-list {
    @media only screen and (min-resolution: 1.5dppx) and (max-width: $L) {
        zoom : 2.5;
    }
}

div.contact {
    @media only screen and (min-resolution: 1.5dppx) and (max-width: $L) {
        zoom : 2.5;
        overflow: hidden;
    }
}
